@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap');

body {
    font-family: 'Noto Serif', serif;
    background-color:#23355b;
    background-image: url('/images/dialogue_assets/background/fortuneSlip.webp');
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}

h1 {
    width: 80vw;
    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #d4bc8e;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.character-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.character-button:hover {
    background-color: #45a049;
}
