.dialogue-scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    .character-image {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80%;
        width: auto;
    }

    .dialogue-options {
        display: flex;
        gap: 5px;
        flex-direction: column;
        z-index: 2;

        .button {
            position: relative;
            background: linear-gradient(to right bottom, rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.1));
            color: white;
            border: none;
            padding: 10px 20px 10px 15px;
            cursor: pointer;
            border-radius: 25px 0 0 25px;
            transition: background 0.3s;
            font-size: 1em;
            display: flex;
            gap: .5em;
            align-items: center;

            svg {
                transform: scaleX(-1);
            }

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                right: 0;
                left: 2px;
                width: calc(100% - 3px);
                height: calc(100% - 6px);
                border-radius: 25px 0 0 25px;
                border: 1px solid rgba(255,255,255,0.5);
                border-right: 0;
            }
        }
    }
}

.dialogue-container {
    width: 80%;
    margin: 0 auto;
    padding: .5em 0;
    color: #fff;
    z-index: 2;
    position: relative;
    text-align: center;

    h2 {
        color: #ffbf0a;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: .3em;
    }

    p {
        margin-top: .5em;
        font-size: 1.2em;
    }
    
    .dialogue-ornament {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ffbf0a;
        margin: 0 10px;
    }
}

.dialogue-blurredbackground {
    position: relative;
    width: 100%;
    height: 35dvh;
    max-height: 300px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100px;
        right: -100px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        filter: blur(15px);
    }
}